<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Balank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
<ion-list-header >
    componentes UI
</ion-list-header >
<ion-list>
    <ion-item href='/ion-badge'>ion-badge</ion-item>
    <ion-item href='/ion-button'>ion-button</ion-item>
    <ion-item href='/ion-checkbox'>ion-checkbox</ion-item>
    <ion-item href='/ion-chip'>ion-chip</ion-item>
    <ion-item href='/ion-datetime'>ion-datetime</ion-item>
    <ion-item href='/ion-radio'>ion-radio</ion-item>
    <ion-item href='/ion-range'>ion-range</ion-item>
</ion-list>


</ion-content>
